@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;
  

html, body {
  background-color: rgb(248, 249, 250);
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
}
h1 {
  @apply text-3xl font-bold mb-4;
}
p {
  @apply mb-4;
}
ul {
  @apply list-disc list-inside;
}
strong {
  @apply font-bold text-xl;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}


.btn-primary:disabled {
  @apply bg-purple-400 text-white font-bold py-2 px-4 rounded-xl opacity-50 cursor-not-allowed;
}
.chat-container {
  @apply flex flex-col flex-auto flex-shrink-0 overflow-auto;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 420px; /* Ajusta el valor según sea necesario */
  height: 500px; /* Ajusta el valor según sea necesario */
  margin-top: 1rem;
  background-color: rgb(248, 249, 250);
  border-radius: 0.5rem;
  box-shadow: 0 0 50px rgba(194, 3, 220, 0.3);
}

/* Media Query para pantallas menores a 600px (generalmente smartphones) */
@media (max-width: 600px) {
  .chat-container {
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    height: 100%; /* Ocupa todo el alto de la pantalla */
  }
}

.chat-messages {
  @apply flex flex-col h-full overflow-x-auto overflow-y-auto;
  background-color: rgb(248, 249, 250);
  /* Estilos de scrollbar personalizados */
  &::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: rgb(145, 38, 143)
  }
}

/* Animations */
.fade-in { animation: fadeIn .3s; }
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


/* Animations */
.fade-in { animation: fadeIn .3s; }
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}